.item {
    height: 200px;
    padding: 16px;
    background-color: white;
    display: flex;
      .itemCondition{
        font-size: 12px;
        color: #999;
        padding-right: 32px;
      }
    img {
      width: 180px;
      height: 180px;
      border-radius: 4px;
    }

    .freeShipping{
      width: 20px;
      height: 20px;
    }
  
    &:not(:last-child) {
      border-bottom: solid 1px #f8f8f899;
    }
  }
  .itemInfo {
    flex: 9;
    margin-left: 16px;
    flex-direction: column;
    .itemTitle {
        text-decoration: none;
        color: initial;
        font-size: 18px;
        p{
          margin-top: 32px;
          max-width: 316px;
        }
    }
    .itemPrice{
        display: inline-block;
        font-size: 22px;
        margin-right: 13px;
        margin-bottom: 0px;
        .itemDecimals{
            font-size: 12px;
            position: relative;
            bottom: 7px;
        }
    }
   
    .itemShipping{
        position: relative;
        font-style: italic;
        color: #00a650;
    }
  }
  
  
  
 